[Unit]
Description=Automatic brightness service

[Service]
Type=simple
ExecStart=/usr/bin/ambient-light
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target
