[Unit]
Description=Automatic brightness service

[Service]
Type=simple
ExecStart=exec sudo /usr/bin/ambient-light
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
